{% extends 'base.html' %}

{% block title %} Authors and Contributors {% endblock %}

{% set sidebarvar = 'sidebar1' %}

{% block content %}
<section id="top">
    <h2>Authors</h2>
</section>
<section id='middle'>
    <div class="about-wrapper">
    {% for i in range( authors['author']|length ) %}
    <figure class="user_avatar">
        <a href="/author/{{ authors['author'][i] }}">
            <img src="{{ url_for('static', filename = 'img/'+authors['avatar_link'][i]) }}" alt="avatar from pixabay.com">
            <figcaption>{{ authors['author'][i] }}  </figcaption>
        </a>
    </figure>
    {% endfor %}
    </div>
</section>
<section id='end'>
    <h2>Contributors</h2>
    <div class="about-wrapper">
    {% for i in range( contributors['contributor']|length ) %}
   
        <figure class="user_avatar">
            <a href="/author/{{ contributors['contributor'][i] }}">
            <img src="{{ url_for('static', filename = 'img/'+contributors['avatar_link'][i]) }}" alt="avatar from pixabay.com">
            <figcaption>{{ contributors['contributor'][i] }}</figcaption>
            </a>
        </figure>
    
    {% endfor %}
    </div>
</section>

{% endblock %}