{% extends 'base.html' %}

{% block title %} {{ author['name'] }} {% endblock %}

{% set sidebarvar = 'sidebar1' %}

{% block content %}
<section id="top">
    <img src="{{ url_for('static', filename = 'img/'+author['avatar_link']) }}" alt="avatar from pixabay.com">
    <h2>{{ author['name'] }}</h2>
    <p>{{ author['role'] }} since {{ author['date'] }} ({{ author['days_employed'] }} days)</p>
    <p>Contact <a href="mailto:{{ author['email'] }}">directly</a></p>
</section>
<section id="middle">
    <h3>Bio</h3>
    <p>{{ author['biography'] }}</p>
</section>
<section id='end'>
    {% if articles %}
    <h3>Contributions to this site as Author:</h3>
    {% for key in articles.keys() %}
        <h4>{{ key }}</h4>
        {% for post in articles[key] %}
            <a href="/topic/{{ key }}/{{ post }}">{{ post }} </a></br>
        {% endfor %}
    {% endfor %}
    {% endif %}

    {% if contribs %}
    <h3>Contributions to this site as Contributor:</h3>
    {% for key in contribs.keys() %}
        <h4>{{ key }}</h4>
        {% for post in contribs[key] %}
            <a href="/topic/{{ key }}/{{ post }}">{{ post }} </a></br>
        {% endfor %}
    {% endfor %}
    {% endif %}
</section>

{% endblock %}