<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <title> {% block title %} {% endblock %}</title>
    {% block style %} {% endblock %}

    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a id="title" href="/"><div>
            <h1>Website Builder</h1>
            <h2>Database Capstone Project</h2>
        </div></a>
        <div id="head-nav-container">
            <div id="head-nav-upper">
                <form action="/viewas/" method="POST" id="view-select">
                    <label for="'logged-in">Change view as:</label>
                    <select name='logged-in' id="logged-in" onchange="this.form.submit()" >
                        <option value='Public'>Public</option>
                        <option value='basicSubscriber2@subs.org' {% if role=='Subscriber'  %} selected {% endif %}>Subscriber</option>
                        <option value='premiumSubscriber2@subs.org'{% if role=='Premium' %} selected {% endif %}>Premium</option>
                        <option value='joejfield@website.com'{% if role=='author' %} selected {% endif %}>Author</option>
                        <option value='abiandres@website.com'{% if role=='contributor' %} selected {% endif %}>Contributor</option>
                        <option value='admin@moyeraudio.com'{% if role=='admin' %} selected {% endif %}>Admin</option>
                    </select>
                </form>
            </div>
            <div id="head-nav-lower">
                <nav id="header-nav">
                    <ul>
                        <li><a href="/home">HOME</a></li>
                        <li><a href="/search">SEARCH</a></li>
                        <li><a href="/topics">TOPICS</a></li>
                        {% if role in ['admin','author','contributor'] %}
                        <li><a href="/dashboard">DASHBOARD</a></li>
                        {% endif %}
                        {% if role in ['Subscriber','Premium'] %}
                         <li><a href="/feed">FEED</a></li>
                         {% endif %}
                        <li><a href="/about">ABOUT</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    <aside id="sidebar">
        
        {% if sidebarvar == 'sidebar1' %} {% include 'sidebar.html' %} {% block sidebar1 %} {% endblock %} {% endif %}
        {% if sidebarvar == 'sidebar2' %} {% block sidebar2 %} {% endblock %} {% endif %}
        {% if sidebarvar == 'sidebar3' %} {% block sidebar3 %} {% endblock %} {% endif %}
        {% if sidebarvar == 'sidebar4' %} {% block sidebar4 %} {% endblock %} {% endif %}
    </aside>
    <main>
        {% block content %} {% endblock %}
    </main>
    
    <footer>
        <p>&copy; Lucas E Moyer</p>
        <p>Project in partial fulfillment of Eastern University Data Science Program</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>