{% extends 'base.html' %}

{% block title %} {{ category.name }} - {{ post.title }} {% endblock %}

{% block catList %}
    {% for posts in category.list %}
        <a href=''>posts</a>
    {% endfor %}
{% endblock %}

{% block content %}
<section id="top">
    <h1>{{ post.title }} </h1>
    <p>{{ post.author }}</p>
    <p>{{ post.date }}</p>
</section>
<section id="middle">
    <h2>{{ post.subtitle }}</h2>
    <div>{{ post.content|safe }}</div>
</section>
<section id='end'>
    <p>Categories: {{ post.categories }}</p>
    <p>Tags: {{ post.tags }}</p>
</section>
<section id='nav'>
    <a href="/{{ post.category }}/{{ post.previous }}">Previous: {{ post.previous }}</a>
    <a href="/{{ post.category }}/{{ post.next }}">Next: {{ post.next }}</a>
</section>
{% endblock %}