{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block style %} 
<style>
    :root {
        --page-width: {{ '100%' }} ;
        --primary-color: {{ '#f7f9f8' }};
        --secondary-color: {{ '#fe0037' }};
        --text-color: {{ '#5b5b5b' }};
        --font: {{ 'Ariel' }};
    }
</style>
{% endblock %}

{% set sidebarvar = 'sidebar2' %}
{% block sidebar2 %}
    <p>Logged in as: {{ role }}</p>
    <label for="sort-year">Sort By Year</label>
    <select name='sort-year' id="sort-year" onchange="resort_dashboard()" >
        <option value=false selected>All</option>
        <option value=2020>2020</option>
        <option value=2021>2021</option>
    </select>
    <label for="sort-month">Sort By Month</label>
    <select name='sort-month' id="sort-month" onchange="resort_dashboard()" >
        <option value=false selected>All</option>
        <option value=1>January</option>
        <option value=2>Febuary</option>
        <option value=3>March</option>
        <option value=4>April</option>
        <option value=5>May</option>
        <option value=6>June</option>
        <option value=7>July</option>
        <option value=8>August</option>
        <option value=9>September</option>
        <option value=10>October</option>
        <option value=11>November</option>
        <option value=12>December</option>
    </select>
    <label for="sort-graph">Change Graphs</label>
    <select name='sort-graph' id="sort-graph" onchange="resort_dashboard()" >
        <option value="views" selected>Page Views</option>
        <option value='subs'>Subscriptions</option>
    </select>
    <label for="sort-graph-2">Change Bar Graph</label>
    <select name='sort-graph-2' id="sort-graph-2" onchange="resort_dashboard()" >
        <option value="topic" selected>Topics</option>
        <option value='tag'>Tags</option>
    </select>
    <label for="_type-all">IP_address</label>
    <select name='sort-graph-3' id="_type-all" onchange="resort_dashboard()" >
        <option value="false" selected>All</option>
        <option value='true'>Unique</option>
    </select>
    
{% endblock %}

{% block content %}
<section id="stats-options">
    <h1>Dashboard</h1>
    <div di="stats-meta">
        <div>
            <form id="stats-time">

            </form>
        </div>
    </div>
</section>
<section id="stats-upper">
    <div id="stats-upper-left">
        <div id="ul-params"></div>
        <div id="ul-chart-wrapper">
            <canvas id="ul-chart"></canvas>
        </div>
    </div>
    <div id="stats-upper-right">
        <div id="stats-kpi-1">
            <canvas id="kpi1" width="250" height="250"></canvas>
        </div>
        <div id="stats-kpi-2">
            <canvas id="kpi2" width="250" height="250"></canvas>
        </div>
    </div>
</section>
<section id='stats-lower'>
    <div id="stats-lower-left">
        <div id="ll-params"></div>
        <div id="ll-chart-wrapper">
            <canvas id="ll-chart"></canvas>
        </div>
    </div>
    <div id="stats-lower-right">
        <!-- <h3>Authors</h3> -->
        <div id="stats-author-wrapper">
            <div class="stats-author" id="stats-author-header">
                <p class="stat-author-item stat-author-item-1"></p>
                <p class="stat-author-item stat-author-item-2">Author</p>
                <p class="stat-author-item stat-author-item-3">Engagement</p>
                <p class="stat-author-item stat-author-item-4">Posts</p>
                <p class="stat-author-item stat-author-item-5">Revenue</p>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='dashAPI.js') }}"></script>
<script src="{{ url_for('static', filename='chart.js') }}"></script>
{% endblock %}