{% extends 'base.html' %}

{% block title %} {{ topic.name }} - {{ post.title }} {% endblock %}

{% block style %} 
<style>
    :root {
        --page-width: {{ theme.theme_format[0] }} ;
        --primary-color: {{ theme.color_primary[0] }};
        --secondary-color: {{ theme.color_secondary[0] }};
        --text-color: {{ theme.text_color[0] }};
        --font: {{ theme.font[0] }};
    }
</style>
{% endblock %}

{% set sidebarvar = 'sidebar3' %}
{% block sidebar3 %}
    <p>Current Topic: {{ topic.name }}</p>
    <ul id="current_articles">
        {% for topost in topic.list %}
        <li><a href='{{ topost }}'>{{ topost }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<section id="top">
    <h1>{{ post.title }} </h1>
    <a href="/author/{{ post.author }}">{{ post.author }}</a>
    <p>{{ post.date }}</p>
</section>
<section id="middle">
    {% if post.subtitle != None %}
        <h2>{{ post.subtitle }}</h2>
    {% endif %}
    <div>{{ post.content|safe }}</div>
</section>
<section id='end'>
    <p>Topics: {% for p in post.topics %}<a href="/topic/{{ p }}">{{ p }}</a>,{% endfor %}</p>
    <p>Tags: {% for t in post.tags %}<a href="/tag/{{ t }}">{{ t }}</a>,{% endfor %}</p>
</section>
<section id='nav'>
    <a href="{{ post.previous }}">Previous: {{ post.previous }}</a>
    <a href="{{ post.next }}">Next: {{ post.next }}</a>
</section>
{% endblock %}